/*  your css code here. If applicable */

.container{
	padding: 8px;
	background-color: #f5f5f5;
}

.testimonials{
	padding: 15px;
	border: 1px solid lightgray;
	margin: 20px;
	background-color: white;
}

footer{
	text-align: right;
	font-style: italic;
}